    body {
        font-family: 'Inter', sans-serif;
        background-color: var(--bg-color);
        color: var(--text-primary);
        transition: background-color 0.3s, color 0.3s;
    }

    .container-custom {
        background-color: var(--secondary-bg);
        border: 1px solid var(--border-color);
        color: var(--text-primary);
    }

    .btn-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .btn-primary {
        background-color: #1d5add;
        color: white;
        border-radius: 0.5rem;
        padding: 0.4rem 0.8rem;
        transition: background-color 0.2s ease-in-out;
        font-size: 0.875rem;
    }

    .btn-primary:hover {
        background-color: #1844bd;
    }

    .btn-secondary-blue {
        background-color: #174ec7;
        color: white;

        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.2s ease-in-out;
    }

    .btn-secondary-blue:hover {
        background-color: #133aa2;
    }

    .btn-secondary {
        background-color: var(--accent-active);
        color: var(--text-primary);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.2s ease-in-out;
    }

    .btn-secondary:hover {
        background-color: #d8dce0;
    }

    .table-header {
        background-color: var(--secondary-bg);
        color: var(--text-secondary);
    }

    .table-cell {
        border-bottom: 1px solid var(--accent-active);
        padding: 0.75rem 1rem;
    }