h3 {
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.container-2 {
    width: 100%;
    max-width: 400px;
    margin-right: 50px;
    text-align: left;
}

.container-2>* {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-3 {
    max-width: 400px;
}

.container-4>img {
    position: relative;
    top: -2px
}

.container-4>span {
    margin-left: 5px;
    font-size: 17px;
}

img {
    max-width: 100%;
    height: auto;
}

.btnGoogle {
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    height: 40px;
}

.btnGoogle:hover {
    background-color: #a2a1a1;
}

.form-control {
    height: 50px;
}

.btn-success {
    width: 100%;
    background-color: #be2a2a;
    color: #f1efef;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 20px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.btn-success:hover {
    background-color: #8B0000;
}

.container-inline {
    margin: 15px 0 0 0;
    text-align: center;
}

.container-inline p,
.container-inline a {
    display: inline;
    color: #2f2f2f;
    margin-right: 10px;
    font-size: 16px;
}

.link-style-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: inherit;

    display: inline;
    color: #2f2f2f;
    margin-right: 10px;
    font-size: 16px;
    text-decoration: underline;
}

.link-style-button:hover {
    text-decoration: none;
}

.error-message {
    color: red;
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 700px) {

    .container-3 {
        display: none;
    }
}